/*  
COLOR PALETTE
----------------

*/

/*--------FLEX-MEDIA-QUERIES--------*/

/*Mobile*/
body { font-size: 12px; }

/*Tablet and up (768px+)*/
@media (min-width: 768px) {
    body { font-size: 16px; }
}

/*Desktop (1024px+)*/
@media (min-width: 1024px) {
    body { font-size: 18px; }
}


/*--------GLOBAL-STYLES--------*/
body {
    margin: 0;
    background: tan;
}

/*--------NAV-BAR--------*/
header nav {
    background-color: red;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.global-nav {
    display: inline-block;
    list-style-type: none;
    margin: 0 20px;
}


/*--------INDEX--------*/



/*--------MENU--------*/



/*--------CONTACT--------*/



/*--------THANK-YOU--------*/